<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('/build/app_webpacked.css')  }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
          <script src="{{ asset('/build/app_webpacked.js')  }}"></script>
          <script>
            $("#form").on("submit", function(e){
              e.preventDefault();
              let data = {};
              $(this).serializeArray().forEach((object)=>{
                  data[object.name] = object.value;
              });
              console.log(data);

            });
          </script>
        {% endblock %}
    </body>
</html>
